<h1>Welcome to ruby</h1>
<p> O indioma utilizado é <%= locale(I18n.locale)%>
<ul>
 <li>
 <%= link_to "Cadastro de moeda", "/coins" %>
 </li>
 <li>
 <%= link_to "Cadastros de mineração", mining_types_path %>
 </li>
 </ul>
