<h1>Welcome to ruby</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<p> A soma é: <%= 1 + 1%> </p>
<p> Nome de tras pra frente : <%= "arthuR".reverse %> </p>
<% ex = "variavel de exemplo" %>

<p> Imprimido: <%= ex %> </p>
<p> daata atual <%= Date.today %> </p>